<template>
    <div class="footer">
        <div id="button"></div>
        <div id="container">
            <div id="cont">
                <div class="footer_center">
                      <ul style="list-style-type: none;">
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Phone</a></li>
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Telegram</a></li>
                        <li><a href="#">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Footer"
}
</script>

<style scoped>
    .footer #button{
        width:35px;
        height:35px;
        border: #727172 12px solid;
        border-radius:35px;
        margin:0 auto;
        position:relative;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    .footer #button:hover{
        width:35px;
        height:35px;
        border: #3A3A3A 12px solid;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        position:relative;
    }

    .footer {
        font-family: 'Dosis', sans-serif;
        font-weight:300;
        background-color:rgb(253, 118, 8);
        color:#FFF;
        bottom:0;
        left:0;
        position:fixed;
        width: 100%;
        height: 2em;
        overflow:hidden;
        margin:0 auto;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        z-index:999;
    }

    .footer:hover {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        height: 9em;
    }

    .footer #container{
        margin-top:5px;
        width:100%;
        height:100%;
        position:relative;
        top:0;
        left:0;
        background: #3A3A3A;
    }

    .footer #cont{
        position:relative;
        top:-45px;
        right:190px;    
        width:150px;
        height:auto;
        margin:0 auto;
    }

    .footer_center{
        width:500px;
        float:left;
        text-align:center;
    }

    ul {
        display: inline-grid;
        grid-auto-flow: row;
        grid-gap: 24px;
        justify-items: center;
        font-family: 'Helvetica';
        font-size: 20px;
        font-weight: 100;
        margin-top:70px;
        margin-left:40px;
    }

    @media (min-width: 500px) {
        ul {
            grid-auto-flow: column;
        }
    }

    a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
    }

    a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
    }

    li:last-child {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

</style>