<template>
    <header>
        <div class="overlay">
            <h1>ONLINE DRUGSTORE</h1>
            <h2><b>Reasons for Choosing US</b></h2>
            <p><b>Lorem Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.</b></p>
	        <br>
	        <button>READ MORE</button>
		</div>
    </header>
</template>

<script>
export default {
    name: "Header"
}
</script>

<style scoped>
    *{padding: 0; margin: 0; box-sizing: border-box;}
    body{height: 900px;}
    header {
        background-image: url('./images/25.jpg');
        text-align: center;
        width: 100%;
        height: auto;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
        border-radius: 0 0 85% 85% / 30%;
    }
    header .overlay{
        width: 100%;
        height: 100%;
        padding: 10px;
        
        text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, #8905db69 30%, #fd5e086b 100%);
        
    }

    h1 {
        color: rgb(36, 35, 35);
        font-family: 'Dosis', sans-serif;
        font-size: 70px;
        margin-bottom: 105px;
    }

    h2, p {
        color: rgb(36, 35, 35);
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    button {
        border: none;
        outline: none;
        padding: 10px 20px;
        border-radius: 50px;
        color: rgb(36, 35, 35);;
        background: rgb(244, 247, 244);
        margin-bottom: 50px;
        box-shadow: 0 3px 20px 0 #0000003b;
    }
    button:hover{
        cursor: pointer;
    }
</style>
